@{
    ViewData["Title"] = "Inicial";
}
<form action="Home/Login" method="post" style="background-color: #333; color: white; border-radius: 10px;">
    <div class="d-flex justify-content-center align-items-center" style="height: 50vh;">
        <div class="text-center">

            <h1 style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif">Hora de Fazer Login!</h1>

            <div style="margin:50px"></div>

            @if (TempData["UsuarioInvalido"] != null)
            {
                <div class="alert alert-warning text-" role="alert" style="background-color: #ffc107; color: black; border-radius: 10px;">
                    @TempData["UsuarioInvalido"]
                </div>
            }

            <div class="mb-3 row">
                <label for="staticEmail" class="col-sm-3 col-form-label">Usuário</label>
                <div class="col-sm-9">
                    <input type="text" name="username" class="form-control rounded" style="background-color: #555; color: white;">
                </div>
            </div>
            <div class="mb-4 row">
                <label for="inputPassword" class="col-sm-3 col-form-label">Senha</label>
                <div class="col-sm-9">
                    <input type="password" name="password" class="form-control rounded" style="background-color: #555; color: white;">
                </div>
            </div>
            <input class="btn btn-primary rounded" type="submit" value="Entrar">

        </div>
    </div>
</form>
