
@model IEnumerable< FileModel>;


<div>
    <table id="Arquivos" class="table table-light mt-5">
        <thead>
            <tr>
                <th scope="col">Nome do Arquivo</th>
                <th scope="col">Tamanho</th>
                <th scope="col">Fornecedor</th>
                <th scope="col">Recebedor</th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @if (Model != null)
            {

                @foreach (var file in Model)
                {
                    <tr>
                        <th scope="row"> <i class="bi bi-archive-fill"></i> @file.filename</th>
                        <td>@Math.Round((double)file.size / 1024, 2) MB</td>
                        <td>@file.fornecedor</td>
                        <td>@file.recebedor</td>
                        <td>
                            <a class="btn btn-warning mx-2"> <i class="bi bi-pencil-square"></i> Baixar</a>
                            <a class="btn btn-danger mx-2"> <i class="bi bi-trash-fill"></i> Deletar</a>
                        </td>
                    </tr>
                }

            }


            </tr>
        </tbody>
    </table>
</div>